*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--gray-900);
    background: var(--white);
    background-color: #FAFAFA;
    line-height: 1.6;
    overflow-x: hidden;
}

[data-theme="dark"] body {
    background-color: #111122;
}

section {
    padding: 5rem 1.5rem;
}
